@media screen and (max-width:1280px) {

    .popular-tours .container ul {
        margin: 24px auto;
        max-width: 90%;
    }

    .tours-text {
        width: 50%;
    }

    .popular-tours .container {
        gap: 25px;
    }

    .country-name h3 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:1024px) {

    .bar {
        display: block;
        font-size: 1.5rem;
    }

    .nav ul {
        display: none;
    }



}

@media screen and (max-width:992px) {

    .explore form {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-text {
        width: 90%;
    }

    .explore {
        margin-right: 25px;
        margin-left: 25px;
    }

    .popular-tours .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 24px;
    }

    .popular-tours-img {
        max-width: 100%;

    }

    .tours-text {
        min-width: 100%;
    }

    .img-container {
        grid-template-areas:
            "mal"
            "indo"
            "sri"
            "n-a"
            "kas"
            "bang"
            "band"
        ;
    }

    .extra-img {
        grid-template-areas:
            "img1 img2"
            "img3 img2"
            "img4 img5"
        ;
    }

    .img-container img {
        width: 100%;
        max-height: 350px;
        object-fit: fill;
    }

    .about-info {
        grid-template-columns: 1fr;
    }

    .info,
    .info-3 {
        max-width: 100%;
    }

    .perfect-place .container {
        flex-direction: column;
        align-items: center;
        gap: 24px;
    }

    .perfect-place-img {
        max-width: 100%;
    }

    .perfect-place-text {
        max-width: 100%;
    }

    .newsletter .container {
        flex-direction: column;
    }

    .news-img {
        max-width: 100%;
    }

    .news-img img {
        width: 100%;
    }

}

@media screen and (max-width:768px) {

    .banner-text {
        width: 100%;
    }

    .img-container img {
        width: 100%;
        max-height: 300px;
        object-fit: fill;
    }

    .bg-img,
    .bg-img-2 {
        margin-top: 24px;
        border-radius: 16px;
        padding: 185px 16px 16px 16px;
        background-position: bottom;
    }

    .extra-img {
        grid-template-areas:
            "img1"
            "img3"
            "img2"
            "img4"
            "img5"
        ;
    }

}

@media screen and (max-width:665px) {

    .pack-info ul {
        flex-wrap: wrap;
    }

    .pack-info {
        padding: 25px;
    }

    .extra-img {
        gap: 16px;
    }


}

@media screen and (max-width:576px) {

    .explore form {
        grid-template-columns: 1fr;
    }

    .img-container img {
        width: 100%;
        max-height: 250px;
        object-fit: fill;
    }

    .perfect-place-img h3 {
        font-size: 1.2rem;
        line-height: 30px;
    }

    .subscribe {
        padding: 25px;
    }

    .news-img>div {
        padding: 16px;
        bottom: 40px;
    }

    .news-img>div h3 {
        font-size: 1.5rem;
    }

    .news-img>div h4 {
        font-size: 0.875rem;
    }

    .subscribe form input {
        margin-top: 16px;
    }

    .subscribe p {
        padding-bottom: 16px;
    }




}

@media screen and (max-width:475px) {

    .header {
        margin-top: 24px;
    }

    .banner-container {
        padding: 35px 16px;
    }

    .nav .logo h1 {
        font-size: 1.5rem;
        margin-left: -5px;
    }

    .explore {
        margin: 35px 5px 0;
    }

    .footer .logo h1 {
        font-size: 1.5rem;
        margin-left: 5px;
    }

    .logo img {
        width: 20%;
    }

    .footer .logo img {
        width: 40px;
    }

    .bar {
        display: block;
        font-size: 1.25rem;
    }

    .container {
        max-width: 90%;
    }

    .banner-text h1 {
        font-size: 2.5rem;
    }

    .img-container img {
        width: 100%;
        max-height: 200px;
        object-fit: fill;
    }

    .pack-info .sub-sec-des {
        max-height: 50px;
        overflow: auto;
    }

    .perfect-place-img h3 {
        font-size: 1.125rem;
        line-height: 30px;
    }

    .sec-heading {
        font-size: 1.5rem;
    }

    .sec-des,
    .banner-text p {
        font-size: 0.875rem;
    }

    .sub-sec-des {
        font-size: 0.875rem;
    }

    .pm-btn {
        padding: 15px 25px;
        font-size: 1rem;
        margin-top: 24px;
        font-weight: 700;
    }

    .per-sec {
        margin-bottom: 50px;
    }

    .info h3,
    .info-3 h3,
    .pack-info h3,
    .subscribe h3 {
        font-size: 1.25rem;
        font-weight: 800;
        margin: 16px 0;
    }

    .country-name h3 {
        font-size: 1.25rem;
    }

    .footer {
        padding: 35px 0;
    }

    .f-icons {
        margin-bottom: 24px;
    }

    .f-text {
        margin-top: 24px;
    }

    .f-des {
        margin-bottom: 24px;
    }

    .extra-img {
        gap: 16px;
        margin-top: 24px;
    }

    .img-container {
        gap: 14px;
    }

    .newsletter .container {
        gap: 16px;
    }

    .package {
        margin: 16px 0;
    }

    .bg-img,
    .bg-img-2,{
        margin-top: 16px;
    }

    .about-info{
        gap: 16px;
        margin-top: 16px;
    }

    .img-container{
        margin-top: 16px;
    }

    .subscribe p{
        padding-bottom: 16px;
    }

    .banner{
        margin-top: 20px;
    }

    .info-3{
        margin-top: 16px;
    }


}

@media screen and (max-width:375px) {

    .perfect-place-img h3 {
        font-size: 0.8rem;
        line-height: 18px;
    }
}