@media screen and (max-width:1280px) {
    
     .popular-tours-img{
        max-width:50%;

    }
    
    .tours-text{
        max-width: 50%;
    }

    .popular-tours .container ul{
        margin: 24px auto;
        max-width:90%; 
    } 

    .popular-tours .container{
        align-items: center;
        gap: 50px;
    }
    

 
}

@media screen and (max-width:1024px) {
    
    .bar{
        display: block;
        font-size: 1.5rem;
    }

    .nav ul{
        display: none;
    }

}

@media screen and (max-width:992px) {


    .popular-tours .container{
        flex-direction: column;
        gap: 30px;
    }
    
    .popular-tours-img{
        max-width:100%;

    }
    
    .tours-text{
        max-width: 100%;
    }

}

@media screen and (max-width:576px) {
    
    .nav .logo h1{
        font-size: 1.8rem;
        margin: 0;
    }

    .nav .logo img{
        width: 18%;
    }


    

}

@media screen and (max-width:992px) {
    
    .explore form {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-text{
        width: 90%;
    }

    .explore{
        margin-right: 25px;
        margin-left: 25px;
    }

}

@media screen and (max-width:768px) {


    .banner-text{
        width: 100%;
    }

}
@media screen and (max-width:576px) {

    .explore form {
        grid-template-columns:1fr;
    }


}

@media screen and (max-width:768px) {


    .banner-text{
        width: 100%;
    }

}

@media screen and (max-width:475px) {
    
    .nav .logo h1{
        font-size: 1.5rem;
        margin-left: -15px;
    }

    .bar{
        display: block;
        font-size: 1.25rem;
    }

    .container{
        max-width: 90%;
    }

    .banner-text h1{
        font-size: 2.5rem;
    }


}

@media screen and (max-width:375px) {


}