@media screen and (max-width:1440px) {


    
}


@media screen and (max-width:1280px) {

    .popular-tours-img {
        max-width: 50%;

    }

    .tours-text {
        max-width: 50%;
    }

    .popular-tours .container ul {
        margin: 24px auto;
        max-width: 90%;
    }

    .popular-tours .container {
        align-items: center;
        gap: 50px;
    }

    .country-name h3 {
        font-size: 1.5rem;
    }

}

@media screen and (max-width:1024px) {

    .bar {
        display: block;
        font-size: 1.5rem;
    }

    .nav ul {
        display: none;
    }

    /* .img-container img{
        width: 100%;
        height: 100% !important;
        object-fit: cover !important;
    } */

    /* .img-container {
        grid-template-areas: 
        "mal mal mal mal mal mal indo indo indo indo indo idno"
        "sri sri sri sri sri sri kas kas kas kas kas kas"
        "n-a n-a n-a n-a n-a n-a n-a n-a n-a n-a n-a n-a"
        "bang bang bang bang bang bang band band band band band band"
        ;
    } */



}

@media screen and (max-width:992px) {

    .explore form {
        grid-template-columns: repeat(2, 1fr);
    }

    .banner-text {
        width: 90%;
    }

    .explore {
        margin-right: 25px;
        margin-left: 25px;
    }

    .popular-tours .container {
        flex-direction: column;
        gap: 30px;
    }

    .popular-tours-img {
        max-width: 100%;

    }

    .tours-text {
        max-width: 100%;
    }

    .img-container {
        grid-template-areas:
            "mal"
            "indo"
            "sri"
            "n-a"
            "kas"
            "bang"
            "band"
        ;
    }

    .img-container img {
        width: 100%;
        max-height: 350px;
        object-fit: fill;
    }

    .about-info {
        grid-template-columns: 1fr;
    }

    .info,
    .info-3 {
        max-width: 100%;
    }


}

@media screen and (max-width:768px) {

    .banner-text {
        width: 100%;
    }

    .img-container img {
        width: 100%;
        max-height: 300px;
        object-fit: fill;
    }

    .bg-img,
    .bg-img-2 {
        margin-top: 24px;
        border-radius: 16px;
        padding:185px 16px 16px 16px;
        background-position: bottom;
    }

}

@media screen and (max-width:665px) {

    .pack-info ul {
        flex-wrap: wrap;
    }

    .pack-info{
        padding:25px;
    }
    
    
}

@media screen and (max-width:576px) {

    .explore form {
        grid-template-columns: 1fr;
    }

    .img-container img {
        width: 100%;
        max-height: 250px;
        object-fit: fill;
    }


}

@media screen and (max-width:475px) {

    .nav .logo h1 {
        font-size: 1.5rem;
        margin-left: -5px;
    }

    .logo img {
        width: 20%;
    }

    .bar {
        display: block;
        font-size: 1.25rem;
    }

    .container {
        max-width: 90%;
    }

    .banner-text h1 {
        font-size: 2.5rem;
    }

    .img-container img {
        width: 100%;
        max-height: 200px;
        object-fit: fill;
    }

    .pack-info .sub-sec-des{
        max-height: 50px;
        overflow: auto;
    }

}

@media screen and (max-width:375px) {}