@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600;700;800;900;1000&display=swap');

/* common-styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --pm-color: #FF5400;
    --title-color: #131318;
    font-size: 16px;
    --description: rgba(19, 19, 24, 0.70);
    --sub-des: #5A5A5D;
}

body {
    font-family: 'Mulish', sans-serif;
    background-color: #fff;
    max-width: 1440px;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 82%;
    margin: 0 auto;
}

.sec-heading {
    color: var(--title-color);
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 24px;
}

.sec-des {
    color: var(--description);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.sub-sec-des {
    color: var(--sub-des);
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.pm-btn {
    padding: 15px 30px;
    color: #fff;
    font-size: 1.25rem;
    background-color: var(--pm-color);
    font-weight: 800;
    border: none;
    border-radius: 8px;
    margin-top: 24px;
}

.per-sec {
    margin-bottom: 100px;
}


/* header */

.header {
    margin-top: 50px;
}

.nav,
.nav>ul,
.nav .logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav ul li a {
    color: #424247;
    font-size: 1.125rem;
    display: block;
    font-weight: 400;
    margin-left: 42px;
    transition: 0.3s;
}

.nav .logo h1 {
    color: var(--title-color);
    font-size: 2.25rem;
    font-weight: 800;
    margin-left: 15px;
}

.travel,
.nav>ul li:first-child a {
    color: var(--pm-color);
    font-weight: 800;
    margin-left: 0;
}

.nav ul li a:hover {
    color: var(--pm-color);
    transform: scale(1.1);
}

.bar {
    display: none;
}

select {
    appearance: none;
    background: url('../icons/down-chevron.png');
    background-repeat: no-repeat;
    background-position: right;
    border: none;
}

select:focus {
    outline: none;
}


.select select,
.text input,
.find button {
    width: 100%;
    border-radius: 8px;
    color: rgba(19, 19, 24, 0.50);
}

.select,
.text input {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    height: 52px;
    border: none;
}

.explore form {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 24px;
}

.explore {
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.30);
    max-width: 770px;
    margin: 50px auto 0;
    padding: 16px;
}

.banner {
    background-image: url('../Images/Group\ 13\ \(1\)\ \(1\).png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
    margin-top: 50px;
}

.banner-container {
    padding: 105px 0;
    border-radius: 16px;
    background: linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%);
}

.banner-text h1 {
    color: #FFF;
    font-size: 4rem;
    font-weight: 800;
    margin: 0 0 25px;
}

.banner-text p {
    color: #FFF;
    font-size: 1rem;
    font-weight: 400;
    line-height: 26px;
}

.banner-text {
    text-align: center;
    width: 675px;
    margin: 0 auto;
}


.find .pm-btn {
    color: #FFF;
    font-size: 1rem;
    font-weight: 700;
    height: 52px;
    margin: 0;
}

.find .pm-btn i {
    margin-right: 8px;
    font-size: 1.2rem;
}

.text .sec-des::placeholder {
    color: rgba(19, 19, 24, 0.50);
    font-weight: 400;
}

.text input:focus {
    outline: none;
}

.select .sec-des {
    line-height: 22px;
}

/* popular-tours */

.popular-tours .container {
    display: flex;
    justify-content: space-between
}

.popular-tours-img img {
    max-width: 100%;
}

.tours-text {
    max-width: 49%;
}

.popular-tours .container ul {
    margin: 24px auto;
    max-width: 525px;
}

.popular-tours .container ul li {
    margin-bottom: 16px;
    list-style: disc;
}

.tours-text-foot {
    color: #5A5A5D;
}

/* destination */

.destination-title,
.about-title,
.discount-title {
    text-align: center;
    max-width: 645px;
    margin: 0 auto;
}

.mal {
    grid-area: mal;
}

.indo {
    grid-area: indo;
}

.sri {
    grid-area: sri;
}

.n-a {
    grid-area: n-a;
}

.kas {
    grid-area: kas;
}

.bang {
    grid-area: bang;
}

.band {
    grid-area: band;
}

.img-container {
    margin-top: 48px;
    display: grid;
    gap: 24px;
    grid-template-areas:
        "mal  mal  mal  mal  mal  mal  indo  indo  indo  indo  indo  indo"
        "sri  sri  sri  sri  n-a  n-a  n-a  n-a  n-a  kas  kas  kas"
        "bang  bang  bang  bang  bang  band  band  band  band  band  band  band"
    ;
}

.country-name h3 {
    color: #FFF;
    text-align: center;
    font-size: 1.75rem;
    font-weight: 800;
}

.relative {
    position: relative;
}

.country-name {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* about us*/

.about-info {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
    margin-top: 48px;
}

.info,
.info-3 {
    max-width: 575px;
    border-radius: 16px;
    border: 1px solid rgba(251, 181, 99, 0.20);
    background: rgba(251, 181, 99, 0.05);
    padding: 32px 55px 32px 32px;
}

.info h3,
.info-3 h3,
.pack-info h3 {
    color: #131318;
    font-size: 1.5rem;
    font-weight: 800;
    margin: 32px 0 16px;
}

.info:nth-child(2) {
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
}

.info-3{
    margin: 24px auto 0;
}

/* discount */

